<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">

 <!-- Add listener here -->
  <listeners>
    <listener class-name="utilities.ExtentListener"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="restAssuredExtentListener.ApiTest3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
